#previous{
    float:right;
}

#next{
    float:left;
}

#tableButtons{
    width: 40%;
    margin: 0 auto;
}

.marginButton{
    margin-bottom:10px;
}

@media only screen and (max-device-width: 480px) {
    #tableButtons{
        width:100%;
    }
}
