.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    display: -webkit-inline-box;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: -webkit-box;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0;
    position: inherit;
}