.my-form {
    width: 70%;
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 30px;
}

.my-headline {
	color: rgba(233, 128, 0, 0.79); 
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    padding-top: 25px;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px #fff;
}

.singleInput {
    padding: 6px 12px;
}

.custom-div {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
}

.table  {
    margin-top:  30px;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

.table-center{
    width:60%;
    margin: 0 auto;
}

form .error {
    color: #ff0000;
}

.space{
    margin:10px auto;
}

.my-button{
	color: #fff;
    background-color: #d02333;
    border-color: #841822;
}

.my-button:hover {
    color: #fff;
    background-color: #961b26;
    border-color: #ca2130;
}

.my-button:active {
    color: #fff;
    background-color: #961b26;
    border-color: #ca2130;
}

.my-button:focus {
    color: #fff;
    background-color: #961b26;
    border-color: #ca2130;
}

.shadow{   
-webkit-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.2);
box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.2);
height: 100%;
    width: 80%;
    margin: 0 auto;
}

.box{
    margin: auto;
    width: 100%;
    background: #fffcfc;
    position: absolute;
    bottom: 0;
    top: 60px;
}
